head
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, initial-scale=1.0")
	meta(name="apple-mobile-web-app-capable", content="yes")
	link(href="styles/styles.min.css", rel="stylesheet", type='text/css')
	link(href="styles/sm.min.css", rel="stylesheet", type='text/css', media="(max-width: 40em)")
	link(href="styles/md.min.css", rel="stylesheet", type='text/css', media="(min-width: 40.63em)")
	link(href="styles/lg.min.css", rel="stylesheet", type='text/css', media="(min-width: 64.063em)")
	link(href="styles/xl.min.css", rel="stylesheet", type='text/css', media="(min-width: 90.063em)")
	link(href="styles/prism.css", rel="stylesheet", type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Roboto:400,300', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700', rel='stylesheet', type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300', rel='stylesheet', type='text/css')
	title #{pageTitle}