@media (min-width: 40.063em) {
  body {
    display: flex;
    flex-direction: column;
  }
  .container {
    flex: none;
  }
  .md-1-of-12 {
    min-width: 8.33333333%;
    flex-basis: 8.33333333%;
  }
  .md-2-of-12 {
    min-width: 16.66666667%;
    flex-basis: 16.66666667%;
  }
  .md-3-of-12 {
    min-width: 25%;
    flex-basis: 25%;
  }
  .md-4-of-12 {
    min-width: 33.33333333%;
    flex-basis: 33.33333333%;
  }
  .md-5-of-12 {
    min-width: 41.66666667%;
    flex-basis: 41.66666667%;
  }
  .md-6-of-12 {
    min-width: 50%;
    flex-basis: 50%;
  }
  .md-7-of-12 {
    min-width: 58.33333333%;
    flex-basis: 58.33333333%;
  }
  .md-8-of-12 {
    min-width: 66.66666667%;
    flex-basis: 66.66666667%;
  }
  .md-9-of-12 {
    min-width: 75%;
    flex-basis: 75%;
  }
  .md-10-of-12 {
    min-width: 83.33333333%;
    flex-basis: 83.33333333%;
  }
  .md-11-of-12 {
    min-width: 91.66666667%;
    flex-basis: 91.66666667%;
  }
  .md-12-of-12 {
    min-width: 100%;
    flex-basis: 100%;
  }
  .md-full {
    min-width: 100%;
    flex-basis: 100%;
  }
  .md-half {
    min-width: 50%;
    flex-basis: 50%;
  }
  .md-offset-1-of-12 {
    margin-left: 8.33333333%;
  }
  .md-offset-2-of-12 {
    margin-left: 16.66666667%;
  }
  .md-offset-3-of-12 {
    margin-left: 25%;
  }
  .md-offset-4-of-12 {
    margin-left: 33.33333333%;
  }
  .md-offset-5-of-12 {
    margin-left: 41.66666667%;
  }
  .md-offset-6-of-12 {
    margin-left: 50%;
  }
  .md-offset-7-of-12 {
    margin-left: 58.33333333%;
  }
  .md-offset-8-of-12 {
    margin-left: 66.66666667%;
  }
  .md-offset-9-of-12 {
    margin-left: 75%;
  }
  .md-offset-10-of-12 {
    margin-left: 83.33333333%;
  }
  .md-offset-11-of-12 {
    margin-left: 91.66666667%;
  }
  .md-order--1 {
    order: -1;
  }
  .md-order-0 {
    order: 0;
  }
  .md-order-1 {
    order: 1;
  }
  .md-order-2 {
    order: 2;
  }
  .md-order-3 {
    order: 3;
  }
  .md-order-4 {
    order: 4;
  }
  .md-order-5 {
    order: 5;
  }
  .md-order-6 {
    order: 6;
  }
  .md-order-7 {
    order: 7;
  }
  .md-order-8 {
    order: 8;
  }
  .md-order-9 {
    order: 9;
  }
  .md-order-10 {
    order: 10;
  }
  .md-order-11 {
    order: 11;
  }
  .md-order-12 {
    order: 12;
  }
}
