@media (max-width: 40em) {
  .sm-1-of-4 {
    min-width: 25%;
    flex-basis: 25%;
  }
  .sm-2-of-4 {
    min-width: 50%;
    flex-basis: 50%;
  }
  .sm-3-of-4 {
    min-width: 75%;
    flex-basis: 75%;
  }
  .sm-4-of-4 {
    min-width: 100%;
    flex-basis: 100%;
  }
  .sm-full {
    min-width: 100%;
    flex-basis: 100%;
  }
  .sm-half {
    min-width: 50%;
    flex-basis: 50%;
  }
  .sm-offset-1-of-4 {
    margin-left: 25%;
  }
  .sm-offset-2-of-4 {
    margin-left: 50%;
  }
  .sm-offset-3-of-4 {
    margin-left: 75%;
  }
}
